* {
    background: rgba(0, 0, 0, 0.7);
    primary: #f44336;
    primary-fixed: #4a0e0e;
    primary-fixed-dim: #f44336;
    on-primary: #000000;
    on-primary-fixed: #000000;
    on-primary-fixed-variant: #000000;
    primary-container: #4a0e0e;
    on-primary-container: #f1dedc;
    secondary: #f28b82;
    secondary-fixed: #f28b82;
    secondary-fixed-dim: #f28b82;
    on-secondary: #000000;
    on-secondary-fixed: #000000;
    on-secondary-fixed-variant: #000000;
    secondary-container: #322826;
    on-secondary-container: #f1dedc;
    tertiary: #f28b82;
    tertiary-fixed: #f28b82;
    tertiary-fixed-dim: #f28b82;
    on-tertiary: #000000;
    on-tertiary-fixed: #000000;
    on-tertiary-fixed-variant: #000000;
    tertiary-container: #322826;
    on-tertiary-container: #f1dedc;
    error: #f2b8b5;
    on-error: #601410;
    error-container: #8c1d18;
    on-error-container: #f9dedc;
    surface: #1a1110;
    on-surface: #f1dedc;
    on-surface-variant: #d8c2be;
    outline: #a08c89;
    outline-variant: #534341;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #fff8f7;
    inverse-on-surface: #231918;
    inverse-primary: #d32f2f;
    surface-dim: #1a1110;
    surface-bright: #3d3231;
    surface-container-lowest: #1a1110;
    surface-container-low: #1a1110;
    surface-container: #271d1c;
    surface-container-high: #322826;
    surface-container-highest: #3d3231;
}
